{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
<ul class="object-tools">
  {% if change %}{% if not is_popup %}
    {% if original.previous %}<li><a href="{% url 'admin:inscriptions_panel_change' original.previous.id %}" class="historylink">« Previous</a></li>{% endif %}
    {% if original.next %}<li><a href="{% url 'admin:inscriptions_panel_change' original.next.id %}" class="historylink">Next »</a></li>{% endif %}
  {% endif %}{% endif %}
  
</ul>
{% endblock %}
